click==8.1.7
Flask==2.2.5
gunicorn==22.0.0
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.21.6
packaging==24.0
pandas==1.3.5
pycryptodome==3.20.0
pyotp==2.9.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
typing_extensions==4.7.1
Werkzeug==2.2.3
zipp==3.15.0
smartapi-python==1.3.4
