click
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
Werkzeug
WTForms
pyotp
pandas
numpy
requests
smartapi-python
SmartApi
datetime
websocket
Crypto
